/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme:light dark;
	--color-text:#111;
	--white:#ffffff;
	--color-background:#eee;
	--heading-color:light-dark(red, pink);
  --white-beige:#f8f6f1;
  --grijs:#929292;
  --donkergrijs: #3e3e3e;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-text:#ffffff;
		--white-color:#ffffff;
		--color-background:#eeeeee;
	}
} */
 


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* header > a {
	margin-right: auto;
	margin-left: auto;
} */

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

header img {
  filter: invert(1);
}

header svg {
  width: 7em;
}

header a:nth-of-type(1) {
  margin-inline: auto;
}

h1 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  color: var(--white);
}

footer {
  background-color: black;
}

/* bovenste deel van de footer */
footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  margin: 1em;                                  /*???Wit vlak erboven???*/
  background-color: transparent;
  border-color: var(--white);
  /* width: 50vw; */
}

footer button h3:nth-of-type(1) {
  order: 2;
  color: var(--white)
}

footer button svg:nth-of-type(2) {
  order: 3;
}

footer button:hover {
  border: solid .3em;
  border-color: var(--grijs);
}

footer ul:nth-of-type(1) a:hover {
  color: var(--grijs);
}

/* social media icoontjes */
footer ul:nth-of-type(2) {
  display: flex;
}

footer ul:nth-of-type(2) li {
  list-style: none;
}

footer ul:nth-of-type(2) a {
  display: flex;
  justify-content: center;
}

svg {
    display: flex;
    width: 100%;
    color: var(--white);
    margin: 1em;
}

/* derde deel footer */
footer ul:nth-of-type(3) a {
  color: var(--grijs);
}

footer ul:nth-of-type(3) a:hover {
  color: var(--donkergrijs);
}

@media (min-width: 768px) {
  svg {
    width: 3em;
  }
}

@media (min-width: 1025px) {
  footer ul:nth-of-type(1) {
    columns: 26.3888888889vw 2;       /* Mag dit??? */
  }
}


