/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme:light dark;
	--color-text:#111;
	--white:#ffffff;
	--color-background:#eee;
	--heading-color:light-dark(red, pink);
  --white-beige:#f8f6f1;
  --grijs:#929292;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-text:#ffffff;
		--white-color:#ffffff;
		--color-background:#eeeeee;
	}
} */
 


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* header > a {
	margin-right: auto;
	margin-left: auto;
} */

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

header a:nth-of-type(1) {
  margin-inline: auto;
}

h1 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
  background-color: black;
}

/* bovenste deel van de footer */
footer button {
  display: flex;
  align-items: center;
  border-radius: 3em;
  margin:1em;
  background-color: transparent;
  border-color: var(--white)
}

footer button h3:nth-of-type(1) {
  order: 2;
  color: var(--white)
}

footer button svg:nth-of-type(2) {
  order: 3;
}

footer button:hover {
  border: solid .3em;
  border-color: var(--grijs);
}

/* social media icoontjes */
footer ul:nth-of-type(2) {
  /* background-color: lightblue; */
  display: flex;
}

footer ul:nth-of-type(2) li {
  list-style: none;
}

footer ul:nth-of-type(2) a {
  display: flex;
  justify-content: center;
}

svg {
    display: block;
    width: 100%;
    color: var(--grijs);
    margin: 1em;
}

@media (min-width: 768px) {
    svg {
        width: 3em;
    }
}