section:nth-of-type(1) {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/achtergrondfoto.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top:-5em;
}

                                        /* Background-color: black; staat op het beginscherm over de foto heen */

section:nth-of-type(1) a {
    color: var(--white);
    text-decoration: none;
}

section:nth-of-type(3) {
    background-color: green;
}

section:nth-of-type(4) {
    background-color: yellow;
}

main > section h3 {
    text-decoration: underline;
}

section p {
	text-transform: uppercase;
}

section:nth-of-type(2) h2 {
    display: flex;
    justify-content: center;
    /* padding-top: 2em; */
}

/* Container van de lijst */
section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1em;
    padding: 1em 2em;
    box-sizing: border-box; 
    margin: 0;
}

/* Elke lijst-item */
section li {
    list-style: none;
    background-color: var(--white-beige);
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    max-width: 18em;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}

/* Link binnen elk li */
section li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5em;
}

/* Afbeeldingen */
section li a img {
    width: 100%;
    height: auto;
    order: 1;
    object-fit: cover;
}

/* Titel */
section li a h3 {
    order: 2;
    margin: 0;
    text-decoration: none;
}

/* hover effect als extraatje toegevoegd, want anders zie je niet dat je eroverheen hovert */
section li a:hover {
    scale: 1.03
}

/* Voor schermen groter dan 767px */
@media (min-width: 768px) {

    /* alle li naast elkaar */
    section ul {
        display: flex;
    }

    /* geen achtergrondkleur meer */
    section li {
        background-color: transparent;
        transition: 1s;
    }

    section li:hover {
        background-color: var(--white-beige);
    }
}