section:nth-of-type(1) {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgb(0 0 0 / .5), rgb(0 0 0 / .5)),
        url("../images/achtergrondfoto.jpg");
    background-blend-mode: darken;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top:-5em;
}

section:nth-of-type(1) a {
    color: var(--white);
    text-decoration: none;
}

section:nth-of-type(1) p {
	text-transform: uppercase;
}

main > section h3 {
    text-decoration: underline;
}

section:nth-of-type(2) h2 {
    display: flex;
    justify-content: center;
    /* padding-top: 2em; */
}

/* Container van de lijst */
section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1em;
    padding: 1em 2em;
    box-sizing: border-box; 
    margin: 0;
}

/* Elke lijst-item */
section li {
    list-style: none;
    background-color: var(--white-beige);
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    max-width: 18em;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}

/* Link binnen elk li */
section li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5em;
}

/* Afbeeldingen */
section li a img {
    width: 100%;
    height: auto;
    order: 1;
    object-fit: cover;
}

/* Titel */
section li a h3 {
    order: 2;
    margin: 0;
    text-decoration: none;
}

/* hover effect als extraatje toegevoegd, want anders zie je niet dat je eroverheen hovert */
section li a:hover {
    scale: 1.03
}

/* Voor schermen groter dan 767px */
@media (min-width: 768px) {

    /* alle li naast elkaar */
    section ul {
        display: flex;
    }

    /* geen achtergrondkleur meer */
    section li {
        background-color: transparent;
        transition: 1s;
    }

    section li:hover {
        background-color: var(--white-beige);
    }
}

/* 3e section */
section:nth-of-type(3) {
  position: relative;
  height: 100vh;
}

/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
} */

section:nth-of-type(3) button:hover {
  background: #ddd;
  color: black;
}

/* Vierde section */
section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--section4);
    height: 100vh;
}

section:nth-of-type(4) img {
    width: 50vw;
    height: 30vh;
    object-fit: cover;
    margin-bottom: 3em;
    order: -1;
}

section:nth-of-type(4) a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}